// 默认主题样式
.fp-main .theme--light{
  // logo 区
  .logo-span{
    //font-family: fantasy;
    font-size: 26px;
    font-family: fantasy;
    font-weight: bolder;
    small{
      font-size: 14px;
      margin-left: 2px;
      font-family: cursive;
    }
  }
  .offset__class{
    .logo-text{

    }
  }
  .logo-text{
    color: white;
    text-align: center;
    font-weight: 900;
    font-family: "Colonna MT", cursive;
    letter-spacing: 0.3px;
    font-size: 1.4rem;
    line-height: 1;
  }
  // 右导航内容区
  .app-bar--sub{
    .text--secondary{
      color: rgba(0,0,0,.6)!important;
    }
  }
  // 弹出层
  .app-bar--sub--list{
    .v-subheader{
      height: 20px;
      padding: 14px 14px 14px 16px;
    }
    .v-btn{
      padding:0 8px;
      justify-content: left;
    }
    .v-list-item{
      padding: 0 8px;
    }
  }
  .bar-msg{
    .v-toolbar__title{
      font-size: unset !important;
    }
    .bar-msg--subtitle{
      font-size: .75rem;
      color: burlywood;
    }
  }
  .drawer_content{
    .v-navigation-drawer__content{
      .v-sheet--outlined.v-sheet--outlined{
        border: none !important;
        border-bottom:1px solid rgba(0,0,0,.12)!important;
        box-shadow: none;
      }
    }
    .drawer_content--sub--title{
      .v-subheader {
        font-weight: bolder;
      }
    }
  }
}
