.fp-main{
  .logo-span{
    //font-family: fantasy;
    font-size: 26px;
    font-family: fantasy;
    font-weight: bolder;
    small{
      font-size: 14px;
      margin-left: 2px;
      font-family: cursive;
    }
  }
  .logo-text{
    font-weight: 600;
    font-family: "Colonna MT", cursive;
    color: rgba(94,86,105,.87)!important;
    letter-spacing: 0.3px;
    font-size: 1.2rem;
    line-height: 1;
  }
  .app-bar--sub{
    .v-btn__content{
      //font-size: 17px;
    }
  }

  .app-bar--sub--list{
    .v-subheader{
      height: 20px;
      color: black!important;
      padding: 14px 14px 14px 24px;
      margin-top: 8px;
    }
    .v-btn{
      padding:0 8px;
      justify-content: left;
    }
  }
}
