.fp-main{
  .logo-span{
    //font-family: fantasy;
    font-size: 26px;
    font-family: "Curlz MT", serif;
    font-weight: bolder;
    small{
      font-size: 16px;
      margin-left: 2px;

    }
  }
  .logo-text{
    color: white;
    margin-left: 1rem;
    font-weight: 600;
    font-size: 20px;
    vertical-align: middle;
    letter-spacing: 2px;

    text-shadow: 0 0 0px #fff,
    0 0 4px #fff;

    transition: all 1s;

    &:hover{
      text-shadow: 0 0 0px #fff,
      0 0 4px #fff,0 0 8px #fff,0 0 16px #fff;
    }
  }
}
